<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" href="#">Recipe Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipes" routerLinkActive="active">Recipes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shopping-list" routerLinkActive="active">Shopping List</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <mat-form-field appearance="fill" appDropdown mouseOverColor="pink">
        <mat-label>Manage</mat-label>
        <mat-select>
          <mat-option value="Fetch" (click)="fetch()">Fetch</mat-option>
          <mat-option value="Save" (click)="save()">Save</mat-option>
        </mat-select>
      </mat-form-field>
    </ul>
  </div>
</nav>